
/*------------ inicializacoes no estilo ------------*/
*, div, ul, ol, li, a, img, form, input, select, textarea, button {
	margin: 0;
	padding: 0;
	outline: 0 !important;
}

ul,ol{
	list-style:none
}

a{
	text-decoration: none;
}

img{
	border: none;
}

p{
	font: 12px 'Noto Sans', sans-serif;
	color:#838383;
	line-height: 20px;
}
h1{
	font: 33px 'Noto Sans',sans-serif;
	color:#fff;
}

h2{
	font: 18px 'Noto Sans', sans-serif;
	font-weight: bold;
	color: #f53d25;
}

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
.centraliza{
	display: block;
	margin: 0 auto;
	width: 1000px;
}

header{
	padding: 10px 0;
	background: #fff;
	height: 80px;
}

.f-header{
	z-index: 9999;
	position: fixed;
	top: 0;
	width: 100%;
	height: 64px;
	padding: 1px 0 6px;
	opacity: 0.96;
	box-shadow:1px 1px 2px #FF5943;
}

.f-header img{
	-webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
}

header .topo{
	margin: 0 auto;
	width: 1000px;
	
}

#barra{
	display: block;
	padding: 7px 0 7px 0;
	height: 26px;
	border-bottom: 1px solid #dedede;
}
	#barra .centraliza{
		display: block;
		margin: 0 auto;
		width: 1000px;
	}
		.centraliza .cnpq{
			display: block;
			float: right;
		}
			.cnpq a{
				font-family: 'Noto Sans', sans-serif;
				font-size: 12px;
				font-weight: bold;
				color: #8b8b8b;
			}

			.cnpq a img{
				margin-left: 5px;
				display: inline-block;
				vertical-align: sub;
			}



/*menu site*/
	.topo nav{
		float: right;
		margin: 28px 0;
	}
		nav ul{}
			nav ul li{
				display: inline-block;
				margin-left: 40px;
			}
			nav ul li:active{
				background: #f53d25;
				border-radius: 15px;
				color: #fff;

			}

			nav ul li a{
				font-family: 'Noto Sans', sans-serif;
				
				color: #f53d25;
				padding: 5px;
			}

			nav ul li a.corrente{
				font-family: 'Noto Sans', sans-serif;
				font-size: 15px;
				color: #f53d25;
				padding: 5px;
			}

			nav ul li a:hover{
				background: #f53d25;
				border-radius: 15px;
				color: #fff;
			}

			




/*conteudo do site*/
content{
	z-index: 1;
	display: block;
	margin: 49px 0 0px 0;
}
content #conteudo_bloco{
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 233px;

}
	#conteudo_bloco .bloco{
		display: inline-table;
		margin-right: 126px;
		width: 245px;
	}

	#conteudo_bloco .bloco:last-child{
		margin-right: 0;
	}
		.bloco img{
			margin-bottom: 10px;
			display: block;
			width: 245px;
			height:145px;
		}

		.bloco h2{
			text-align: center;
		}

		.bloco p{
			width: 245px;
			height: 56px;
			overflow: hidden;
			text-align: justify;
			font-size:15px;
			margin-top:4px;
		}

		.bloco img:hover{
			opacity: 0.5;
			
			-webkit-transition: all 2s linear;
			-moz-transition: all 2s linear;
			-o-transition: all 2s linear;
			transition: all 2s linear;
		}

content #equipe{
	display: block;
	padding: 40px 0 40px 0;
	margin: 40px 0 0 0;
	height: 455px;
	background: #ff5943;
}

	#equipe .centraliza img{
		display: inline-block;
		margin-left: 463px;	
		margin-bottom: 1px;	
	}

	#equipe .centraliza h1{
		text-align: center;
	}

		.centraliza ul.equipe1{
			margin-top: 10px;
		}
			ul.equipe1 li{
				display: inline-block;
				width: 185px;
				margin-right: 80px;
			}

			ul.equipe1 li:last-child{
				margin-right: 0;
			}
				
				ul.equipe1 li a{
					display: block;
					font: 15px 'Noto Sans', sans-serif;
					color: #fff;
					text-align: center;
				}
					
					ul.equipe1 li a img{
						margin: 0 !important;
						display:inline-block;
						width: 110px;
						height: 110px;
						border-radius: 56px;
						text-align: center;
					}

					ul.equipe1 li a p{
						font: 15px 'Noto Sans', sans-serif;
					color: #fff;
					text-align: center;
					margin-top: 4px;
					}

					ul.equipe1 li a .name{
						display: block;
						margin-bottom: -5px;
						font: 18px 'Noto Sans', sans-serif;
						color: #fff;
						font-weight: bold;
						text-align: center;
					}

		.centraliza ul.equipe2{
			margin: 46px 0 0 120px;
		}
					
content #parceiros{
	display: block;
	padding: 40px 0 40px 0;
	background: #f2f2f2;
	height: 220px;
	width: auto;
}
	#parceiros .centraliza img{
		margin-left: 461px;
	}

	#parceiros .centraliza h1{
		color: #f53d25;
		text-align: center;
	}

	#parceiros .centraliza ul{
		margin-top: 40px;
	}
		#parceiros .centraliza ul li{
			display: inline-block;
			margin-right: 64px;
		}


		#parceiros .centraliza ul li a img , #patrocinadores .centraliza ul li a img{
			opacity: 0.8;
		}
		
		#parceiros .centraliza ul li a img:hover , #patrocinadores .centraliza ul li a img:hover{
			opacity: 1;
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;
		}


		#parceiros .centraliza ul li:last-child{
			margin-right: 0;
		}
			#parceiros .centraliza ul li a img{
				margin: 0 !important;
			}

content #patrocinadores{
	background: #f2f2f2;


}
	#patrocinadores .centraliza h1{
		color: #f53d25;
		text-align: center;
	}

	#patrocinadores .centraliza{
		border-top: 1px solid #c7c7c7;
		 padding: 40px 0;
	}

	#patrocinadores .centraliza img{
		margin-left: 461px;
	}

	#patrocinadores .centraliza ul{
		margin-top: 40px;
	}

		#patrocinadores .centraliza ul li{
			  display: inline-block;
    		margin-left: -511px;
    		width: 758px;
		}
					


footer{
	display: block;
	padding: 10px 0 10px 0;
	height: 30px;
	background: #3a3d4a;

	
}
	footer .centraliza p{
		font: 12px 'Noto Sans', sans-serif;
		color: #fff;
		display: inline-block;
		margin-top: 9px;
	}

	.centraliza ul.social{
		float: right;
		margin-top: 4px;
	}
		.centraliza ul.social li{
			display: inline-block;
			margin-left: 10px;
		}

		ul.social li a img{
				opacity: 0.8;
			}

			ul.social li a img:hover{
				opacity: 1;
				-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

			  -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);

			}

	

		

#content .entry-content ol{
}
	.entry-content ol li{
		display:inline-block;
		width:250px;
		
		}
		.entry-content ol li p{
			float:right;
			 margin-top: 29px;
			
			}

