#container{
	display: block;
	margin-bottom: 30px;
}

	#container .title_bg{
		display: block;
		height: 46px;
		width: 100%;
		border-top: 1px solid  #E4E4E4;

		box-shadow:0 3px 0 0 rgba(0, 0, 0, 0.02) inset;
		background: #EE3823;
		padding:36px 0;
		margin-top: -8px;
		margin-bottom: 30px;


	}

		.title_bg h1{
			color:#fff;
			font-size: 35px;
		}

	#container #content{
		width: 1000px;
		margin: 0 auto;
		min-height: 600px;
	}

	#content .entry-content p{
		color: #6F6F6F;
    font: 15px/30px 'Noto Sans',sans-serif;
    line-height:30px;

	} 
	
	.entry-content p img{
		margin-left:115px;
	}

	strong{
		color :#EE3823;
	}

	.entry-content ul li{
		 border-left: 1em solid #e4e4e4;
    	margin: 1px 0 51px 15px;
    	padding: 0 1.5em;
	}

	.entry-content  a{
		color:#EE3823;
	}

	.entry-content  a:hover{
		text-decoration: underline !important;
	}


	#content ul.palestrantes{
		
		
		 display: inline-block;
    	
    	margin-bottom: 40px;
	}
		ul.palestrantes li{
		 display: inline-block;
   		 height: 177px;
    		list-style-type: none;
    		margin-bottom: 70px;
		}


		ul.palestrantes li img{
			  border-radius: 100px;
    		display: block;
    		float: left;
    		width: 175px;
    		margin-right: 20px;
		}

		ul.palestrantes li p{
			font-size: 14px;
			 text-align: justify;
    		margin-top: 8px;
		}

		ul.cursos{
			 height: 140px;

		}
			ul.cursos li{
				display: inline-block;
				width: 495px;
			}

			ul.cursos li img{
				width: 145px;
			}


	.nome{
		color: #EE3823;
		font-weight: bold;
		font-size: 20px !important;
		font-family: 'Noto Sans',sans-serif;
		margin-bottom: 20px;
	}

	.des{
		color: #3A3D4A;
		font-weight: bold;
		font-size: 20px !important;
		font-family: 'Noto Sans',sans-serif;
		margin-bottom: 20px;

	}

	.text_dados{
		color: #3A3D4A;
		font-weight: bold;
		font-family: 'Noto Sans',sans-serif;
		font-size:14px;
	}



	.title_inscricoes{
		font-size: 30px;
		color: #3A3D4A;
		font-weight: bold;
		font-family: 'Noto Sans',sans-serif;
		margin-bottom: 25px;
		display: block;
	}
#content .entry-content ol{
}
	.entry-content ol li{
		 display: inline-block;
    margin-bottom: 50px;
    width: 451px;
		
		}
		.entry-content ol li p{
			float:right;
			 margin-top: 29px;
			
			} 
			
		.entry-content ol li a img{
			
			 margin-right: 25px;
    vertical-align: middle;
		}




	
	