/*
Theme Name:  Programar meu futuro / site;
Thme URI: 
DESCRIPTION: Site criado para o projeto "Programar meu Futuro"
Author: Nayara Rocha;
*/


#gallery-1 img{
border:none;
}

img#wpstats{
	width:0px;
	height:0px;
	padding:0px;
	border:none;
	overflow:hidden;

}

/*------------ inicializacoes no estilo ------------*/
*, div, ul, ol, li, a, img, form, input, select, textarea, button {
	margin: 0;
	padding: 0;
	outline: 0 !important;
}

ul,ol{
	list-style:none
}

a{
	text-decoration: none;
}

img{
	border: none;
}

p{
	font: 14px 'Noto Sans', sans-serif;
	color: #6F6F6F;
	line-height: 27px;
}

h1{
	font: 33px 'Noto Sans',sans-serif;
	color:#fff;
}

h2{
	font: 18px 'Noto Sans', sans-serif;
	font-weight: bold;
	color: #f53d25;
}

.img_internas{
	margin-left:115px;
}

@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
.centraliza{
	display: block;
	margin: 0 auto;
	width: 1000px;
}

header #barra{
	display: block;
	padding: 7px 0 7px 0;
	height: 26px;
	border-bottom: 1px solid #dedede;
}
	#barra .centraliza{
		display: block;
		margin: 0 auto;
		width: 1000px;
	}
		.centraliza .cnpq{
			display: block;
			float: right;
		}
			.cnpq a{
				font-family: 'Noto Sans', sans-serif;
				font-size: 12px;
				font-weight: bold;
				color: #8b8b8b;
			}

			.cnpq a img{
				margin-left: 5px;
				display: inline-block;
				vertical-align: sub;
			}

header .topo{
	margin: 0 auto;
	padding: 15px 0 15px 0;
	width: 1000px;
	height: 75px;
}

/*menu site*/
	.topo nav{
		float: right;
		margin: 28px 0;
	}
		nav ul{}
			nav ul li{
				display: inline-block;
				margin-left: 40px;
			}

			nav ul li a{
				font-family: 'Noto Sans', sans-serif;
				font-size: 15px;
				color: #f53d25;
				padding: 5px;
			}

			nav ul li a:hover{
				background: #f53d25;
				border-radius: 15px;
				color: #fff;
			}


/*conteudo do site*/
content{
	display: block;
	margin: 40px 0 40px 0;
}
content #conteudo_bloco{
	width: 1000px;
	margin: 0 auto;

}
	#conteudo_bloco .bloco{
		display: inline-block;
		margin-right: 126px;
		width: 245px;
	}

	#conteudo_bloco .bloco:last-child{
		margin-right: 0;
	}
		.bloco img{
			margin-bottom: 10px;
			display: block;
			width: 245px;
			height:145px;
		}

		.bloco h2{
			text-align: center;
		}

		.bloco img:hover{
			opacity: 0.5;
			
			-webkit-transition: all 2s linear;
			-moz-transition: all 2s linear;
			-o-transition: all 2s linear;
			transition: all 2s linear;
		}

content #equipe{
	display: block;
	padding: 20px 0 20px 0;
	margin: 40px 0 0 0;
	height: 462px;
	background: #ff5943;
}

	#equipe .centraliza img{
		display: inline-block;
		margin-left: 452px;	
		margin-bottom: -2px;	
	}

	#equipe .centraliza h1{
		text-align: center;
	}

		.centraliza ul.equipe1{
			margin-top: 10px;
		}
			ul.equipe1 li{
				display: inline-block;
				width: 185px;
				margin-right: 80px;
			}

			ul.equipe1 li:last-child{
				margin-right: 0;
			}
				
				ul.equipe1 li a{
					display: block;
					font: 15px 'Noto Sans', sans-serif;
					color: #fff;
					text-align: center;
				}
					
					ul.equipe1 li a img{
						margin: 0 !important;
						display:inline-block;
						width: 110px;
						height: 110px;
						border-radius: 56px;
						text-align: center;
					}


					ul.equipe1 li a .name{
						display: block;
						margin-bottom: -5px;
						font: 18px 'Noto Sans', sans-serif;
						color: #fff;
						font-weight: bold;
						text-align: center;
					}

		.centraliza ul.equipe2{
			margin: 46px 0 0 120px;
		}
					
content #parceiros{
	display: block;
	padding: 40px 0 40px 0;
	background: #f2f2f2;
	height: 220px;
	width: auto;
}
	#parceiros .centraliza img{
		margin-left: 461px;
	}

	#parceiros .centraliza h1{
		color: #f53d25;
		text-align: center;
	}
					


footer{
	display: block;
	padding: 10px 0 10px 0;
	height: 30px;
	background: #3a3d4a;

	
}
	footer .centraliza p{
		font: 12px 'Noto Sans', sans-serif;
		color: #fff;
		display: inline-block;
		margin-top: 7px;
	}

	.centraliza ul.social{
		float: right;
		margin-top: 4px;
	}
		.centraliza ul.social li{
			display: inline-block;
			margin-left: 10px;
		}

	

		

